name: partymancloud

services:
  app:
    build: app
    image: local/partymancloud

    # command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:${CONTAINER_PORT}"
    # command: bash -c "gunicorn config.wsgi -w ${UWSGI_WORKERS} -b 0.0.0.0:${CONTAINER_PORT}"

    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./app:/app
    restart: unless-stopped
    env_file: .env
    depends_on:
      - redis

  dramatiq:
    build: app
    image: local/partymancloud
    init: true
    command: dramatiq config.tasks --processes 1 --threads 2
    volumes:
      - ./app:/app
    restart: unless-stopped
    env_file: .env
    depends_on:
      - redis

  redis:
    image: redis:7.4.1-alpine3.20
    restart: unless-stopped
    init: true
    # To persist data
    # volumes:
    #   - redis_data:/data