name: partymancloud

services:
  app:
    build: app
    image: local/partymancloud

    # command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:${CONTAINER_PORT}"
    # command: bash -c "python manage.py migrate && gunicorn config.wsgi -w ${UWSGI_WORKERS} -b 0.0.0.0:${CONTAINER_PORT}"

    ports:
      - "127.0.0.1:${CONTAINER_PORT}:${CONTAINER_PORT}"
    volumes:
      - ./app:/app
    restart: unless-stopped
    env_file: .env
    depends_on:
      - valkey

  dramatiq:
    build: app
    image: local/partymancloud
    init: true
    command: bash -c "python manage.py rundramatiq -p 1 -t 1"
    volumes:
      - ./app:/app
    restart: unless-stopped
    env_file: .env
    depends_on:
      - app

  cron:
    build: app
    image: local/partymancloud
    init: true
    command: bash -c "crontab /app/crontab.txt && crond -f"
    volumes:
      - ./app:/app
    env_file: .env
    restart: unless-stopped
    depends_on:
      - app

  valkey:
    image: valkey/valkey:9.0.2-alpine3.23
    restart: unless-stopped
    init: true