name: partymancloud

services:
  app:
    build: app
    image: local/partymancloud

    # command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:${CONTAINER_PORT}"
    # command: bash -c "python manage.py migrate && gunicorn config.wsgi -w ${UWSGI_WORKERS} -b 0.0.0.0:${CONTAINER_PORT}"

    ports:
      - "127.0.0.1:${CONTAINER_PORT}:${CONTAINER_PORT}"
    volumes:
      - ./app:/app
    restart: unless-stopped
    env_file: .env
    depends_on:
      - valkey-cache
      - valkey-dramatiq

  dramatiq:
    build: app
    image: local/partymancloud
    init: true
    command: bash -c "python manage.py rundramatiq -p 1 -t 1"
    volumes:
      - ./app:/app
    restart: unless-stopped
    env_file: .env
    depends_on:
      - valkey-dramatiq

  cron:
    build: app
    image: local/partymancloud
    init: true
    command: bash -c "crontab /app/crontab.txt && crond -f"
    volumes:
      - ./app:/app
    env_file: .env
    restart: unless-stopped
    depends_on:
      - app

  valkey-cache:
    image: valkey/valkey:9.0.2-alpine3.23
    init: true
    restart: unless-stopped
    command: [ "valkey-server", "--save", "", "--appendonly", "no", "--loglevel", "notice" ]


  valkey-dramatiq:
    image: valkey/valkey:9.0.2-alpine3.23
    init: true
    restart: unless-stopped
    # Option A (dev / OK to lose queued jobs on restart): disable persistence
    # command: ["valkey-server", "--save", "", "--appendonly", "no", "--loglevel", "warning"]

    # Option B (prod / don't lose queued jobs): enable AOF (recommended over frequent RDB)
    # command: ["valkey-server", "--appendonly", "yes", "--appendfsync", "everysec", "--save", ""]


    volumes:
      - valkey_dramatiq_data:/data

volumes:
  valkey_dramatiq_data: