{% extends 'request/base.html' %}

{% block title %}Manage Partyman instances{% endblock %}

{% block content %}
    <h2>Manage Partyman instances</h2>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
            <tr>
                <th colspan="2">Name</th>
                <th>Event info</th>
                <th>Time online</th>
                <th>Activated</th>
                <th>Deactivated</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <small>
                            {% if object.party_url %}
                                <a href="{{ object.party_url }}">{{ object.party_name }}</a>
                            {% else %}
                                {{ object.party_name }}
                            {% endif %}
                        </small>
                    </td>
                    <td>
                        {% if not object.deactivated %}
                            <a href="{% url 'request:activation-detail' object.pk %}" class="btn btn-primary">Manage</a>
                        {% endif %}
                    </td>
                    <td>
                        <small>
                            {{ object.party_start|date:"Y-m-d" }}<br>
                            {{ object.upcloud_zone }}
                        </small>
                    </td>
                    <td>

                    </td>
                    <td>
                        {% if object.activated %}
                            <small>
                                <i class="fa-regular fa-calendar-days me-1"></i>{{ object.activated|date:"Y-m-d" }}<br>
                                <i class="fa-regular fa-clock me-1"></i>{{ object.activated|date:"H:i" }}
                                {% if object.activated_by %}
                                    <br> <i class="fa-regular fa-user me-1"></i>{{ object.activated_by }}
                                {% endif %}
                            </small>
                        {% endif %}
                    </td>
                    <td>
                        {% if object.deactivated %}
                            <small>
                                <i class="fa-regular fa-calendar-days me-1"></i>{{ object.deactivated|date:"Y-m-d" }}<br>
                                <i class="fa-regular fa-clock me-1"></i>{{ object.deactivated|date:"H:i" }}
                                {% if object.deactivated_by %}
                                    <br> <i class="fa-regular fa-user me-1"></i>{{ object.deactivated_by }}
                                {% endif %}
                            </small>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
