cloudflare==4.3.1
crispy-bootstrap5==2025.6
Django==5.2.9
django-cf-turnstile==0.1.0
django-crispy-forms==2.5
django-debug-toolbar==4.4.6
django-environ==0.12.0
django-extensions==4.1
dramatiq==2.0.0
gunicorn==23.0.0
ipython==9.8.0
Pillow==12.0.0
redis==7.1.0
requests==2.32.5
