<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<h4>We've received your request for a PartyMan instance.</h4>

<dl>
<dt>Party name</dt>
    <dd>{{ request.party_name }}</dd>

<dt>Requested inception date</dt>
    <dd>{{ request.inception_date }}</dd>

<dt>Domain</dt>
    <dd>{{ request.domain }}.partyman.cloud</dd>

<dt>Contact email</dt>
    <dd>{{ request.contact_email }}</dd>
</dl>

<p>We'll be in contact by your requested inception date.</p>

<i>PartyMan admins</i>
